*.pyc
__pycache__/
.env
db.sqlite3
staticfiles/
media/
.DS_Store
.venv/
.idea/
.rechnungen_billa/
.docs/
/docs/.$Billa_Pathflow_Diagram.drawio.bkp
/docs/Images_Subpages/billa.png
/docs/Images_Subpages/billa_einkauefe.png
/docs/Images_Subpages/billa_einkauefe_str-einkauefe.png
/docs/billa_flow
/docs/billa_flow.html
/docs/Images_Subpages/billa_import.png
/docs/Images_Subpages/billa_marke_str-marke.png
/docs/Images_Subpages/billa_marken.png
/docs/Billa_Pathflow_Diagram.drawio
/docs/Billa_Pathflow_Diagram.drawio.xml
/docs/Images_Subpages/billa_preisentwicklung.png
/docs/Images_Subpages/billa_preisentwicklung_marke_str-marke.png
/docs/Images_Subpages/billa_preisentwicklung_produktgruppen_str-produktgruppen.png
/docs/Images_Subpages/billa_preisentwicklung_ueberkategorie.png
/docs/Images_Subpages/billa_preisentwicklung_ueberkategorie_str-ueberkategorie.png
/docs/Images_Subpages/billa_produkt_str-produkt.png
/docs/Images_Subpages/billa_produkte.png
/docs/Images_Subpages/billa_produktgruppe_str-produktgruppe.png
/docs/Images_Subpages/billa_produktgruppen.png
/docs/Images_Subpages/billa_produktgruppenmapper.png
